*{
    padding: 0%;
    margin: 0%;
}
p{
    font-size: 300%;
    padding-top: 300px;
    color: black;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}


/* NAVBAR */
.navbar{
    background-color: blue;
    color: red;
}
.navbar-brand{
    color:red;
}
.nav-link{
    color: white;
    display: flex;
}
#grouping{
    display: flex;
}

/* END */